
 <head>
<link href="/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/css/jquery.treeview.css" />
<link rel="stylesheet" href="/css/deckmain.css" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet">

<script src="/js/lib/jquery.js" type="text/javascript"></script>
<script src="/js/lib/jquery.cookie.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.js" type="text/javascript"></script>
<script src="/js/deck.js" type="text/javascript"></script>
</head>

<div class="row-fluid">
     <form action="/save-columnfamily" method="post" class="form-horizontal">
  		<input type='hidden' name='hostname' value="<%hostname%>"/>
   		<input type='hidden' name='clustername' value="<%clustername%>"/>
   	  	<input type='hidden' name='keyspace' value="<%keyspace%>"/>
     	 <label><font color="green"><b><%message%></b></font></label>
         <legend>Create New Column Family</legend>
           <div class="control-group">
			    <label class="control-label" for="inputEmail">Column Family Name</label>
			    <div class="controls">
			     <input type='text' name='columnfamilyname' value='' placeHolder='Enter the Column Family Name'>
			    </div>
		  </div>
           <div class="control-group">
			    <label class="control-label" for="inputEmail">Column Family Type</label>
			    <div class="controls">
				<%columnfamilies%>
				</div> 
  		  </div>
           <div class="control-group">
			    <label class="control-label" for="inputEmail">Comparator</label>
			    <div class="controls">
				<%comparators%>
				</div>
  			</div>
			<div class="control-group">
				    <label class="control-label" for="inputEmail">Sub Comparator</label>
				    <div class="controls">
					<%subcomparators%>
					</div>
			  </div>
			  <div class="control-group">
				    <label class="control-label" for="inputEmail">Default Validation Class</label>
				    <div class="controls">
					<select name='defaultvalidator'><%validator-class %></select>
					</div>
			  </div>
			  <div class="control-group">
				    <label class="control-label" for="inputEmail">Key Validation Class</label>
				    <div class="controls">
					<select name='keyvalidator'><%validator-class %></select>
					</div>  
			  </div>
			  <div class="control-group">
				    <label class="control-label" for="inputEmail">Gc grace Seconds</label>
				    <div class="controls">
					<input type='text' name='gcgracesec' value='' placeHolder=''>
					</div>
			  </div>
			  <div class="control-group">
				    <label class="control-label" for="inputEmail">Comments</label>
				    <div class="controls">
					<textarea rows="3" name='comment'></textarea>
					</div> 
			  </div>
           <br/>
		   <div class="control-group">
		    <div class="controls">
		     <button type="submit" class="btn btn-success">Submit</button>
		  	<button type="submit" class="btn btn-inverse">Cancel</button>
		    </div>
		  </div>
           
           
       </form>
  </div>
   
