
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Deck: A Cassandra Admin tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <link rel="icon" href="/img/logo.ico" />
    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.treeview.css" />
    <link rel="stylesheet" href="/css/deckmain.css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

  <script src="/js/lib/jquery.js" type="text/javascript"></script>
  <script src="/js/lib/jquery.cookie.js" type="text/javascript"></script>
  <script src="/js/jquery.treeview.js" type="text/javascript"></script>
  <script src="/js/deck.js" type="text/javascript"></script>
  
  <script type="text/javascript">
    $(function() {
      $("#tree").treeview({
        collapsed: true,
        animated: "medium",
        
        persist: "location"
      });
    })
    
   
    
    
    
        
  </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <head>

  <body>

 <div class="row-fluid">
 		<label><font color="green"><b><%message%></b></font></label>
        <form action="/save-keyspace" method="post" class="form-horizontal" id="createkeyspacefrm">
           <input type="hidden" name="hostname" value="<%hostname%>">
           <input type="hidden" name="clustername" value="<%clustername%>">
           <legend>Create New Key Space</legend>
           <%message%>
     	<div class="control-group">
		    <label class="control-label" for="inputEmail">Keyspace</label>
		    <div class="controls">
		    	 <input type='text' name='keyspace' value='' placeHolder='Enter the Keyspace name' class="required">
  			</div>
  		</div>
        <div class="control-group">
	    	<label class="control-label" for="inputEmail">Strategy Class</label>
	    	<div class="controls">
				<select name='strategyclass'>
		          	<option value=':simple'>Simple</option>
		          	<option value=':network'>Network Topology</option>
		       </select>
  			</div>
         </div>  
           <div class="control-group">
	    		<label class="control-label" for="inputEmail">Replication Factor</label>
	    		<div class="controls">
					<input type='text' name='replicationfactor' value='1' placeHolder='1' class="required" class="required">
  				</div>
           		<br/>
           	</div>
          <div class="control-group">
			    <div class="controls">
			     <button type="submit" class="btn btn-success">Submit</button>
			  	<button type="submit" class="btn btn-inverse">Cancel</button>
			    </div>
  		  </div>
       </form>
     </div>

  </body>
</html>
