    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.treeview.css" />
    <link rel="stylesheet" href="/css/deckmain.css" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

  <script src="/js/lib/jquery.js" type="text/javascript"></script>
  <script src="/js/lib/jquery.cookie.js" type="text/javascript"></script>
  <script src="/js/jquery.treeview.js" type="text/javascript"></script>
  <script src="/js/deck.js" type="text/javascript"></script>
  

 
        <div class="span9">
          <div class="row-fluid">
          	<p align="center"><h2>Deck</h2></p>
          	<p> <h4>The Cassandra Cluster Management Console</h4></p>
          	<hr/>
             <p>Project maintained by <a href="https://github.com/sougatabh">Sougata</a> and source code can be found <a href="https://github.com/sougatabh/deck">here</a></p>
             <p align="center"><h3>Deck</h3></p>
             <p> <h5>The Cassandra Cluster Management Console.Using this one can do the following</h5></p>
             <p>
             	<ul>
					<li>Setup New cluster</li>
					<li>Create New Keyspace</li>
					<li>Create New Column Family</li>
					<li>Delete Column Family</li>
					<li>Search Data in Column Family</li>
				</ul>
             
             </p>
  
          </div>
        </div>
