<head>
<link href="/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/css/jquery.treeview.css" />
<link rel="stylesheet" href="/css/deckmain.css" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/js/lib/jquery.js" type="text/javascript"></script>
<script src="/js/lib/jquery.cookie.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.js" type="text/javascript"></script>
 </head>
        
<div class="row-fluid">
   <legend>Search Column Family Data</legend>

    <form action="/search" method="post" class="form-horizontal">
     <input type="hidden" name="keyspace" value="<%keyspace%>">
     <input type="hidden" name="hostname" value="<%hostname%>">
     <input type="hidden" name="clustername" value="<%clustername%>">
     <input type="hidden" name="columnfamily" value="<%columnfamily%>">
      <div class="control-group">
	    <label class="control-label" for="inputKey">Row Key</label>
	    <div class="controls">
	      <input type="text" id="inputKey" name="key" value="<%row-key%>" placeholder="">
	    </div>
	   </div>
       <div class="control-group">
	    <label class="control-label" for="inputKey">Serialization</label>
	    <div class="controls">
	      	<select name='serializationtype'>
	          	<option value=':string'>String</option>
	          	<option value=':integer'>Interger</option>
	          	<option value=':long'>Long</option>
	          	<option value=':bytes'>Bytes</option>
     		</select>
	    </div>
	  </div>	
	   <div class="control-group">
		    <div class="controls">
				  <button type="submit" class="btn btn-success">Search</button>
	              <button type="submit" class="btn btn-inverse">Cancel</button>
		    </div>
		
	  </div>     
      </form>
       
        <table class="table table-hover">
        
			<%search-result%>
		
		</tr>
	
		</table>
        
       
 </div>
