
<head>
    
<link rel="icon" href="/img/logo.ico" />
<!-- Le styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/css/jquery.treeview.css" />
<link rel="stylesheet" href="/css/deckmain.css" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/js/lib/jquery.js" type="text/javascript"></script>
<script src="/js/lib/jquery.cookie.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.js" type="text/javascript"></script>
<script src="/js/deck.js" type="text/javascript"></script>
</head>  


 <form action="GET" >
 <input type="hidden" id="idkeyspace" name="selectedkeyspace" value="<%keyspace%>">
 <input type="hidden" id="idhostname" name="hostname" value="<%hostname%>">
 <input type="hidden" id="idclustername" name="clustername" value="<%clustername%>"> 
<div class="row-fluid">
	<%message%>
  <legend>Column Families</legend>
  <button type="button" onClick="deleteColumnfamily()" class="btn btn-danger">Delete</button><br/><br/>
        	<table class="table table-hover">
			<tr>
			<th>Select</th><th>Id</th><th>Name</th><th>Comparator</th><th>Type</th><th>Sub Comparator</th><th>Default Validator</th><th>Key Validator</th><th>Row Cache</th><th>Key Cache</th><th>Gc grace sec</th>
			</tr>
	<tbody>
	<%columnfamilies%>
	</tbody>
	
</table>
</form>
			
