/*!
 * This is applications custom css file
 */

.settings
{
width:40px;
height:40px;
background:url(images/settings.png) 0 0;
}
.table-header{
	
	background-color: #FFFFB8;
	font-family:Arial;
	font-size:15px;
}

.table-row{
	
	background-color: #DFF0D8;
	font-family:Arial;
	font-size:12px;
}

